.aboutUs{
    border-radius:10px;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin-top: 3.5vw; 
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    padding-bottom: 50px;
    background:#1f5156;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contactUs{
   
    border-radius:10px;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:60%;
    margin-top: 10vw; 
    margin-bottom: 5vw; 
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    padding: 50px;
    background:#1f5156;
    
}

.form{

    align-items: center;
    width: 100%;
    flex-direction: column;
   
}



.aboutTheProject{
    
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20vw; 
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    padding-bottom: 50px;
    background:#1f5156;

    
}

.tech{
    border-radius:10px;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    padding-bottom: 50px;
    background:#1f5156;

    
}

.container{
    align-items: center;
    width: 100%;
    
    
}

.button{
    background: white;
    border:none;
    padding:10px 20px;
    margin-right: 5px;
    color:#1f5156;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
  }

.blueText{
    color: #4285F4  ;
}

.ourTech{
    align-items: center;
    padding: 50px;
    justify-content: space-around;
}


