

.chart{
    max-width:100%;
    box-shadow: 0px 5px 20px gray;
    background-color: white;
    padding: 50px;
    margin-top: 30vw;
    margin-bottom: 30vw;
    height:700px; 
}

.pieChart{
    width:100%;
    height:100%;
    align-items: center;
    text-align: center;
}




.positiveResult{
    
    width: 100%;
    background-color:#35561f;
    align-items: center;
    text-align: center;
    
}

.negativeResult{
  
    width: 100%;
    
    background-color: #56241f;
    align-items: center;
    text-align: center;
    
    
}


.tweet{
        border-radius:10px;
        box-shadow: 0px 5px 20px gray;
        background-color: #1f5156;
        text-align: center;
        color:#1f5156;
        padding: 5px;  
        margin: 20px;
        height:300px;
        vertical-align: middle;
        padding-bottom: 20px;
        padding-top:15px;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        
}


.tweet:hover{
    transform: scale(1.05);
}





.style.cloudAndFab{
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
}


.factStyle{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vw; 
    margin-left:auto;
    margin-right:auto;  
    text-align: center;
    
}

.factStyle2{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vw; 
    margin-left:auto;
    margin-right:auto;  
    text-align: center;
    
}

.cloudContainer{
    box-shadow: 0px 5px 20px gray;
    width: 100%;
    min-height: 200px;
    margin-top: 20vw; 
    background-color: #1f5156;
    text-align: center;
    padding: 10px;    
}



.negCloudContainer{
    box-shadow: 0px 5px 20px gray;
    width: 100%;
    min-height: 200px;
    margin-top: 20vw; 
    background-color: #56241f;
    text-align: center;
    padding: 10px;    
}

.posCloudContainer{
    box-shadow: 0px 5px 20px gray;
    width: 100%;
    min-height: 200px;
    margin-top: 20vw;
    background-color: #35561f;
    text-align: center;
    padding: 10px;    
}
.navBar{
    background-color: #1f5156;
}
.svgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 3.5vw; 
    text-align: center;
    
}
.cloud{
    
    height:80%;
    width:80%;
    vertical-align:middle;
}



.image{
    border-radius:50%;
    width: 100px;
    height:100px;
}

.resultText{
color:white;

}

.resultTextSentiment{
    color:white;
    font-weight: bold;
    font-size: 120%;
    margin-top:30px;
}


.positiveResultText{
    color:#35561f ;
    }

    
.negativeResultText{
    color:#56241f;
    }

.smiley{
    padding:10px;
    
}

.orcaText{
    color:white;
    font-family:"OCR A";
    font-size: 2em;
    font-weight: bolder;
}

@media screen and (max-width: 1200px) {

    .tweet{
        border-radius:10px;
        box-shadow: 0px 5px 20px gray;
        background-color: #1f5156;
        text-align: center;
        color:#1f5156;
        padding: 10px;  
        margin: 20px;
        height:400px;
        vertical-align: middle;
        padding-bottom: 20px;
        

}

.orcaText{
    color:white;
    font-family:"OCR A";
    font-size: 2em;
    font-weight: bolder;
}
}


@media screen and (max-width: 500px) {


.orcaText{
    color:white;
    font-family:"OCR A";
    font-size: 1.5em;
    font-weight: bolder;
}
}