.App{
  
  background-image: white;
  
}


.particles-bg-canvas-self{
  position: fixed;
  height:100vh;
}



.react__slick__slider__parent {
	    position: relative;
	  }
	  
	  .react__slick__slider__parent .slick-prev,
	  .react__slick__slider__parent .slick-next {
	    position: absolute;
	    top: 50%;
	  }
	  
	  
	  .react__slick__slider__parent .slick-prev:before {
	    color: #1f5156;
	  }

    .react__slick__slider__parent .slick-next:before {
	    color: #1f5156;
	  }


.search-form{
  min-height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:55%;
  margin-left:auto;
  margin-right:auto;  
  vertical-align:middle;
  margin-top: 10vh;
  
}

.search-bar{
  width:100%;
  border: 1px solid #1f5156;
  padding:10px;
  margin:5px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px gray;
}

.search-button{
  background:#1f5156;
  border:none;
  padding:10px 20px;
  margin-right: 5px;
  color:white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px gray;
}

.carousel-wrapper {
  width: 90%;
  flex-direction: column;
  margin-left:auto;
  margin-right:auto;  
  margin-bottom: 20vw;
  margin-top: 5vw; 
  vertical-align:middle;
  display: flex;
  flex-grow: 1;
 
  
}

.particles {

width: 100%;
top:0;
left:0;
height: 100%;
z-index: -200;
position: fixed;

}



.child{
  flex: 1 1 0;
  width: 0;
 
}

.child2{
  flex: 1 1 0;
  width: 0;

}




.flex-container{
  display: flex;
  margin-top: 15vh;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  -webkit-flex-direction: row;
 
}

@media screen and (max-width: 1050px) {
  .search-form{
    min-height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    margin-top: 10vh;
    
  }
  
  .search-bar{
    width:100%;
    border: 1px solid #1f5156;
    padding:10px;
    margin:2px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    font-size: 12px;
  }
  
  .search-button{
    background:#1f5156;
    border:none;
    padding:10px 20px;
    margin-right: 2px;
    color:white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    transform: scale(0.8);
  }
 }
@media screen and (max-width: 600px) {
  .search-form{
    min-height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    margin-top: 10vh;
    
  }
  
  .search-bar{
    width:100%;
    border: 1px solid #1f5156;
    padding:10px;
    margin:2px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    font-size: 8px;
  }
  
  .search-button{
    background:#1f5156;
    border:none;
    padding:10px 20px;
    margin-right: 2px;
    color:white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    transform: scale(0.8);
  }
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  text-align: Center;
  

}



@media screen and (max-width: 700px) {
.flex-container {
  display: flex;
  margin-top: 15vh;
 
  flex-direction: column;
  -webkit-flex-direction: column;
  }

  .child{
    flex: 1 1 0;
    width: 100%;
   
  }
  
  .child2{
    flex: 1 1 0;
    width: 100%;  
    vertical-align: top;
  }



}




.bg-bubbles {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height:60vh;
 
  
 
}

.bubble-hover:hover{
  color:green;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;

  width: 80px;
  height: 80px;
  border-radius: 80px;
  color:white;
  background-color: #1f5156;
  top: 5%;
  left:50%;
  -webkit-animation: bubble 5s infinite;
  -webkit-animation-timing-function: linear;
  animation: bubble 10s linear infiwnite;
  
  text-align:center;
  box-shadow: 0px 3px #888888;

  
  line-height: 1em; /* a */
  max-height: 5em; 
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.bg-bubbles li:nth-child(1) {
  top: 5%;
  left:28%;
  
 
  -webkit-animation-delay: 700ms;
}

.bg-bubbles li:nth-child(2) {
  
  top: 15%;
  left:35%;


}

.bg-bubbles li:nth-child(3) {
  top: 35%;
  left:30%;
 
  -webkit-animation-delay: 500ms;
}

.bg-bubbles li:nth-child(4) {
 
  top: 5%;
  left:43%;

}

.bg-bubbles li:nth-child(5) {

  top: 40%;
  left:40%;
}

.bg-bubbles li:nth-child(6) {
  
  top: 25%;
  left:47%;


  -webkit-animation-delay: 500ms;
}

.bg-bubbles li:nth-child(7) {
  
  top: 45%;
  left:50%;
 

 
}

.bg-bubbles li:nth-child(8) {
 
  
 

  
  -webkit-animation-delay: 500ms;

  top: 25%;
  left:55%;
}

.bg-bubbles li:nth-child(9) {
  
  top: 7%;
  left:57%;
 
  
  animation-delay: 2s;

}

.bg-bubbles li:nth-child(10) {

  top: 50%;
  left:60%;


}

.bg-bubbles li:nth-child(11) {
  
 
  top: 30%;
  left:65%;
}

.bg-bubbles li:nth-child(12) {
 
  top: 58%;
  left:33%;

}
.bg-bubbles li:nth-child(13) {
  
  top: 5%;
  left:65%;
 
  
}
.bg-bubbles li:nth-child(14) {
  
  top: 58%;
  left:45%;
 
  
}



@-webkit-keyframes bubble {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateY(-10px) ;
    transform: translateY(-10px);
    -webkit-transform: translateX(10);
    transform: translateX(10);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bubble {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateY(-10px) ;
    transform: translateY(-10px);
    -webkit-transform: translateX(10);
    transform: translateX(10);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


.bg-bubbles li:hover {
  

  animation: hover 100ms linear forwards;
}


@keyframes hover {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100%{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@media screen and (max-width: 1440px) {

  

  .bg-bubbles li {
   
    width: 70px;
    height: 70px;
    border-radius: 70px;
    
   
  }

  .bg-bubbles li:nth-child(1) {
    top: 5%;
    left:18%;
    
   
    -webkit-animation-delay: 700ms;
  }
  
  .bg-bubbles li:nth-child(2) {
    
    top: 18%;
    left:28%;
   
  
  }
  
  .bg-bubbles li:nth-child(3) {
    top: 35%;
    left:18%;
    
    -webkit-animation-delay: 500ms;
  }
  
  .bg-bubbles li:nth-child(4) {
   
    top: 5%;
    left:37%;
    
  }
  
  .bg-bubbles li:nth-child(5) {
    
    top: 40%;
    left:30%;
  }
  
  .bg-bubbles li:nth-child(6) {
    
    top: 27%;
    left:40%;
  
   
    -webkit-animation-delay: 500ms;
  }
  
  .bg-bubbles li:nth-child(7) {
    
    top: 35%;
    left:50%;
    
  
   
  }
  
  .bg-bubbles li:nth-child(8) {
   
    
    
  
    
    -webkit-animation-delay: 500ms;
    
    top: 25%;
    left:60%;
  }
  
  .bg-bubbles li:nth-child(9) {
    
    top: 7%;
    left:63%;
   
    
    animation-delay: 2s;
    
  }
  
  .bg-bubbles li:nth-child(10) {
    
    top: 50%;
    left:65%;
    
  
  }
  
  .bg-bubbles li:nth-child(11) {
    
    
    top: 30%;
    left:70%;
  }
  
  .bg-bubbles li:nth-child(12) {
    
    top: 58%;
    left:33%;
    
  }
  .bg-bubbles li:nth-child(13) {
    
    top: 5%;
    left:75%;
    
  
  }
  .bg-bubbles li:nth-child(14) {
   
    top: 58%;
    left:50%;
   
    
  }
}




@media screen and (max-width: 1000px) {
 

  .bg-bubbles li {
   
    width: 70px;
    height: 70px;
    border-radius: 70px;
    
   
  }


  
}


@media screen and (max-width: 800px) {

 

  .bg-bubbles li {
   
    width: 60px;
    height: 60px;
    border-radius: 60px;
    
    font-size: 12px;
  }



  .bg-bubbles li:nth-child(1) {
    top: 5%;
    left:15%;
    color:white;
   
    -webkit-animation-delay: 700ms;
  }
  
  .bg-bubbles li:nth-child(2) {
    
    top: 15%;
    left:28%;
   
  
  }
  
  .bg-bubbles li:nth-child(3) {
    top: 35%;
    left:15%;
    
    -webkit-animation-delay: 500ms;
  }
  
  .bg-bubbles li:nth-child(4) {
   
    top: 5%;
    left:37%;
   
  }
  
  .bg-bubbles li:nth-child(5) {
    
    top: 40%;
    left:30%;
  }
  
  .bg-bubbles li:nth-child(6) {
    
    top: 25%;
    left:40%;
  
   
    -webkit-animation-delay: 500ms;
  }
  
  .bg-bubbles li:nth-child(7) {
    
    top: 40%;
    left:50%;
    
  
   
  }
  
  .bg-bubbles li:nth-child(8) {
   
    
   
  
    
    -webkit-animation-delay: 500ms;
    
    top: 25%;
    left:60%;
  }
  
  .bg-bubbles li:nth-child(9) {
    
    top: 7%;
    left:67%;
   
    
    animation-delay: 2s;
    
  }
  
  .bg-bubbles li:nth-child(10) {
  
    top: 45%;
    left:66%;
    
  
  }
  
  .bg-bubbles li:nth-child(11) {
    
    
    top: 30%;
    left:75%;
  }
  
  .bg-bubbles li:nth-child(12) {
   
    top: 58%;
    left:33%;
    
  }
  .bg-bubbles li:nth-child(13) {
    
    top: 5%;
    left:80%;
    
  
  }
  .bg-bubbles li:nth-child(14) {
   
    top: 58%;
    left:50%;
   
    
  }
}