.body{
  overflow: hidden;
}
.App{
  
  background-image: white;
  
}


.particles-bg-canvas-self{
  position: fixed;
  height:100vh;
}



.react__slick__slider__parent {
	    position: relative;
	  }
	  
	  .react__slick__slider__parent .slick-prev,
	  .react__slick__slider__parent .slick-next {
	    position: absolute;
	    top: 50%;
	  }
	  
	  
	  .react__slick__slider__parent .slick-prev:before {
	    color: #1f5156;
	  }

    .react__slick__slider__parent .slick-next:before {
	    color: #1f5156;
	  }


.search-form{
  min-height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:55%;
  margin-left:auto;
  margin-right:auto;  
  vertical-align:middle;
  margin-top: 10vh;
  
}

.search-bar{
  width:100%;
  border: 1px solid #1f5156;
  padding:10px;
  margin:5px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px gray;
}

.search-button{
  background:#1f5156;
  border:none;
  padding:10px 20px;
  margin-right: 5px;
  color:white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px gray;
}

.carousel-wrapper {
  width: 90%;
  flex-direction: column;
  margin-left:auto;
  margin-right:auto;  
  margin-bottom: 20vw;
  margin-top: 5vw; 
  vertical-align:middle;
  display: flex;
  flex-grow: 1;
 
  
}

.particles {

width: 100%;
top:0;
left:0;
height: 100%;
z-index: -200;
position: fixed;

}



.child{
  flex: 1 1 0;
  width: 0;
 
}

.child2{
  flex: 1 1 0;
  width: 0;

}




.flex-container{
  display: flex;
  margin-top: 15vh;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  -webkit-flex-direction: row;
 
}

@media screen and (max-width: 1050px) {
  .search-form{
    min-height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    margin-top: 10vh;
    
  }
  
  .search-bar{
    width:100%;
    border: 1px solid #1f5156;
    padding:10px;
    margin:2px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    font-size: 12px;
  }
  
  .search-button{
    background:#1f5156;
    border:none;
    padding:10px 20px;
    margin-right: 2px;
    color:white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    transform: scale(0.8);
  }
 }
@media screen and (max-width: 600px) {
  .search-form{
    min-height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    margin-top: 10vh;
    
  }
  
  .search-bar{
    width:100%;
    border: 1px solid #1f5156;
    padding:10px;
    margin:2px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    font-size: 8px;
  }
  
  .search-button{
    background:#1f5156;
    border:none;
    padding:10px 20px;
    margin-right: 2px;
    color:white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px gray;
    transform: scale(0.8);
  }
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  text-align: Center;
  

}



@media screen and (max-width: 700px) {
.flex-container {
  display: flex;
  margin-top: 15vh;
 
  flex-direction: column;
  -webkit-flex-direction: column;
  }

  .child{
    flex: 1 1 0;
    width: 100%;
   
  }
  
  .child2{
    flex: 1 1 0;
    width: 100%;  
    vertical-align: top;
  }



}



