

.chart{
    border-radius:10px;
    width: 50%;
    height: 600px;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    margin-top: 30vw; 
    margin-top: 5vw; 
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    padding: 50px;
}



.positiveResult{
    box-sizing: border-box; 
    border-radius:10px;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    margin-top: 10vw; 
    background-color: green;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    padding: 10px; 
}

.negativeResult{
    box-sizing: border-box; 
    border-radius:10px;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    margin-top: 10vw; 
    background-color: red;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    padding: 10px; 
}
.tweet{
    border-radius:10px;
    box-shadow: 0px 5px 20px gray;
    background-color: #1DA1F2;
    text-align: center;
    color:#1DA1F2;
    padding: 30px;  
    margin-top: 20%;
    margin-bottom: 20%;
    vertical-align: middle;
    width: 100%
    
    
  
}
.style.cloudAndFab{
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
}


.factStyle{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vw; 
    margin-left:auto;
    margin-right:auto;  
    text-align: center;
    
}

.factStyle2{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vw; 
    margin-left:auto;
    margin-right:auto;  
    text-align: center;
    
}

.cloudContainer{
    box-sizing: border-box; 
    border-radius:10px;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    min-height: 200px;
    margin-top: 30vw; 
    margin-top: 5vw; 
    background-color: white;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    padding: 10px; 
    
    
}
.navBar{
    background-color: #1DA1F2;
}
.svgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 3.5vw; 
    text-align: center;
    
}
.cloud{
    
    height:80%;
    width:80%;
    vertical-align:middle;
}



.image{
    border-radius:50%;
    width: 100px;
    height:100px;
}

.resultText{
color:white;

}

.resultTextSentiment{
    color:white;
    font-weight: bold;
    font-size: 120%;
    margin-top:30px;
}


.positiveResultText{
    color:green;
    }

    
.negativeResultText{
    color:red;
    }

.smiley{
    padding:10px;
    
}


